 body{
  font-family: 'Righteous', cursive;
  background-color: #FAC172;
 }
 
 
 h1 {
  font-family: 'Righteous', cursive;
  color: white;

}

nav{
  background-color: tomato;
}

.btn{
  background-color: #27A2BB;
}



